.modal {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: azure;
  font-size: 2rem;
  overflow: hidden;
}

.modal___head {
  display: flex;
  flex-direction: row;
  background-color:beige;
  justify-content: space-between;
  width: 100%;
}
